{% extends 'base.html.twig' %}


{% block body %}
<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
    <h1>{{ website }}</h1>
    <h1>Page number {{ page }}.</h1>
</body>
</html>
{% endblock %}